:root {
  --ifm-color-primary: #ff851b;
  --ifm-color-primary-dark: #ff7700;
  --ifm-color-primary-darker: #f26f00;
  --ifm-color-primary-darkest: #c95c00;
  --ifm-color-primary-light: #ff9436;
  --ifm-color-primary-lighter: #ff9b43;
  --ifm-color-primary-lightest: #ffb36e;
}
