.lineIn {
  background: linear-gradient(
    to right,
    #444 0%,
    transparent 100%
  );
  height: 1px;
}

.lineOut {
  background: linear-gradient(
    to left,
    #444 0%,
    transparent 100%
  );
  height: 1px;
}

.timeline {
  position: sticky;
  top: 2rem;
  max-height: calc(100vh - 4rem);
}
