:root {
  --background: #000000;
  --foreground: #ededed;
  --primary-color: #ff851b !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-repeat: repeat;
  background-image: url('/topography.svg');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: underline;
}

input::placeholder {
  color: #ccc;
}

.p-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
