:root {
  --primary-color: #ff851b !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: oklch(.984 .003 247.858);
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: underline;
}

input::placeholder {
  color: #ccc;
}

.p-button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
