:root {
  --primary-color: #ff851b !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: oklch(0.145 0 0);
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.35;
  font-weight: 600;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
a {
  color: inherit;
  text-decoration: underline;

  & > div {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
  white-space: nowrap;
}

div[role="button"],
div[role="link"]{
  cursor: pointer;
}

main {
  min-height: calc(100vh - 9rem);
  padding-top: 4rem;
  padding-bottom: 5rem;
}

@media (min-width: 992px) {
  main {
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
    transition: padding 0.3s ease-in-out;
  }

  aside:not(.collapsed) + main {
    padding-left: 20rem;
  }

  aside.collapsed + main {
    padding-left: 6rem;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh; /* full viewport height including mobile dynamic bars */
}

.mono {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtle-border {
  border-color: #444 !important;
}

.semantic {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

.run-timeline {
  .p-timeline-event-separator {
    position: relative;
    top: 9px;
  }
  .p-timeline-event-content {
    padding-right: 0;
  }
}

.border-subtle {
  border-color: #222 !important;
}
.border-primary-subtle {
  border-color: rgba(245, 158, 11, 0.3) !important;
}
.bg-primary-subtle {
  background: linear-gradient(
    to right,
    rgba(245, 158, 11, 0.1),
    rgba(249, 115, 22, 0.1),
    rgba(245, 158, 11, 0.1)
  );
}
.bg-subtle {
  background: oklch(0.145 0 0 / 0.8);
  backdrop-filter: blur(20px);
}

.py-2-5 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.seamless-menu ul {
  list-style-type: none;
  padding: 0;

  > li {
    padding: 0.25rem;
  }

  > li[role="separator"] {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    margin-bottom: 0.5rem;
  }

  .menu-icon {
    width: 2rem;
    text-align: center;
  }
}
