:root {
  --primary-color: #ff851b !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: underline;
}

input::placeholder {
  color: #ccc;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh; /* full viewport height including mobile dynamic bars */
}

.subtle-border {
  border-color: #444 !important;
}
