.container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none; /* ensure it doesn't block interactions */
  background-color: #000000;
  z-index: 0;
}

.container > svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block; /* remove default inline gaps */
}
