.screenshotBox {
  width: 100%;
  aspect-ratio: 16 / 9;
  background: #ffffff;
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}

.noImage {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  display: flex;
}

.noImageIcon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  color: var(--surface-400);
}
