:root {
  @if variable-exists(colors) {
    @each $name, $color in $colors {
      --#{$name}-50:#{tint($color, 5 * 19%)};

      @for $i from 1 through 5 {
        --#{$name}-#{$i * 100}:#{tint($color, (5 - $i) * 19%)};
      }

      @for $i from 6 through 9 {
        --#{$name}-#{$i * 100}:#{shade($color, ($i - 5) * 15%)};
      }
    }
  }
}
