@import 'mixins';
@import 'colors';

@import 'components/form/editor';

@layer primereact {
    @import 'common';

    //Input
    @import 'components/form/autocomplete';
    @import 'components/form/calendar';
    @import 'components/form/cascadeselect';
    @import 'components/form/checkbox';
    @import 'components/form/tristatecheckbox';
    @import 'components/form/chips';
    @import 'components/form/colorpicker';
    @import 'components/form/dropdown';
    @import 'components/form/inputgroup';
    @import 'components/form/inputnumber';
    @import 'components/form/inputswitch';
    @import 'components/form/inputtext';
    @import 'components/form/iconfield';
    @import 'components/form/inputicon';
    @import 'components/form/inputotp';
    @import 'components/form/listbox';
    @import 'components/form/mention';
    @import 'components/form/multiselect';
    @import 'components/form/password';
    @import 'components/form/radiobutton';
    @import 'components/form/rating';
    @import 'components/form/selectbutton';
    @import 'components/form/slider';
    @import 'components/form/treeselect';
    @import 'components/form/togglebutton';

    //Button
    @import 'components/button/button';
    @import 'components/button/splitbutton';
    @import 'components/button/speeddial';

    //Data
    @import 'components/data/carousel';
    @import 'components/data/datatable';
    @import 'components/data/dataview';
    @import 'components/data/datascroller';
    @import 'components/data/filter';
    @import 'components/data/orderlist';
    @import 'components/data/organizationchart';
    @import 'components/data/paginator';
    @import 'components/data/picklist';
    @import 'components/data/tree';
    @import 'components/data/treetable';
    @import 'components/data/timeline';

    //Panel
    @import 'components/panel/accordion';
    @import 'components/panel/card';
    @import 'components/panel/fieldset';
    @import 'components/panel/divider';
    @import 'components/panel/panel';
    @import 'components/panel/splitter';
    @import 'components/panel/stepper';
    @import 'components/panel/scrollpanel';
    @import 'components/panel/tabview';
    @import 'components/panel/toolbar';

    //Overlay
    @import 'components/overlay/confirmpopup';
    @import 'components/overlay/dialog';
    @import 'components/overlay/overlaypanel';
    @import 'components/overlay/sidebar';
    @import 'components/overlay/tooltip';

    //File
    @import 'components/form/fileupload';

    //Menu
    @import 'components/menu/breadcrumb';
    @import 'components/menu/contextmenu';
    @import 'components/menu/dock';
    @import 'components/menu/megamenu';
    @import 'components/menu/menu';
    @import 'components/menu/menubar';
    @import 'components/menu/panelmenu';
    @import 'components/menu/slidemenu';
    @import 'components/menu/steps';
    @import 'components/menu/tabmenu';
    @import 'components/menu/tieredmenu';

    //Messages
    @import 'components/message/inlinemessage';
    @import 'components/message/message';
    @import 'components/message/toast';

    //MultiMedia
    @import 'components/media/galleria';
    @import 'components/media/image';

    //Misc
    @import 'components/misc/avatar';
    @import 'components/misc/chip';
    @import 'components/misc/scrolltop';
    @import 'components/misc/skeleton';
    @import 'components/misc/tag';
    @import 'components/misc/inplace';
    @import 'components/misc/metergroup';
    @import 'components/misc/progressbar';
    @import 'components/misc/terminal';
    @import 'components/misc/blockui';
    @import 'components/misc/badge';
}
