@font-face {
  font-family: 'Geist';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("./fonts/geist-v4-latin-regular.woff2") format("woff2");
}
