.p-card {
    background: $cardBg;
    color: $panelContentTextColor;
    box-shadow: $cardShadow;
    border-radius: 1rem;
    border: $cardBorder;
    backdrop-filter: $cardFilter;
    -webkit-backdrop-filter: $cardFilter;

    .p-card-body {
        padding: $cardBodyPadding;
    }

    .p-card-title {
        font-size: $cardTitleFontSize;
        font-weight: $cardTitleFontWeight;
        margin-bottom: $inlineSpacing;
    }

    .p-card-subtitle {
        font-weight: $cardSubTitleFontWeight;
        margin-bottom: $inlineSpacing;
        color: $cardSubTitleColor;
    }

    .p-card-content {
        padding: $cardContentPadding;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
    }

    .p-card-footer {
        padding: $cardFooterPadding;
    }

    @media screen and (max-width: 575px) {
      &.mobile-full {
        background: none;
        box-shadow: none;
        border: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
      }

      .p-card-body,
      .p-card-content,
      .p-card-footer {
        padding: 0;
      }
    }
}
