.p-panel {
    overflow: hidden;
    border: 1px solid var(--surface-border);
    border-radius: 14px;
    background: $panelContentBg;

    &[role=link],
    &[role=button] {
        cursor: pointer;
    }

    .p-panel-header {
        padding: $panelHeaderPadding;
        background: $panelHeaderBg;
        color: $panelHeaderTextColor;

        .p-panel-title {
            font-weight: $panelHeaderFontWeight;
        }

        .p-panel-header-icon {
            @include action-icon();
        }
    }

    &.p-panel-toggleable {
        .p-panel-header {
            padding: $panelToggleableHeaderPadding;
        }
    }

    .p-panel-content {
        padding: $panelContentPadding;
        background: $panelContentBg;
        color: $panelContentTextColor;
    }

    .p-panel-footer {
        padding: $panelFooterPadding;
        border: $panelFooterBorder;
        background: $panelFooterBg;
        color: $panelFooterTextColor;
        border-top: 0 none;
    }

    &.primary {
        .p-panel-content {
            background: $panelContentOddRowBg;
        }

        &[role=link]:hover .p-panel-content,
        &[role=button]:hover .p-panel-content {
            background: color-mix(in oklab, $primaryColor 5%, transparent);
            border-color: color-mix(in oklab, $primaryColor 50%, transparent);
            color: $primaryColor;
        }
    }

    &.even {
      .p-panel-content {
          background: $panelContentEvenRowBg;
      }
    }

    &.odd {
        .p-panel-content {
            background: $panelContentOddRowBg;
        }
    }

    &.border-dashed {
        border: none !important;

        .p-panel-header,
        .p-panel-content,
        .p-panel-footer {
            border-width: 2px;
            border-style: dashed;
        }
    }

    &.slim {
      .p-panel-header {
        padding: $panelSlimHeaderPadding;
      }
      .p-panel-content {
        padding: $panelSlimContentPadding;
      }
      .p-panel-footer {
        padding: $panelSlimFooterPadding;
      }
    }

    &.selected {
      border-color: rgba($primaryColor, 0.4);
      &:before {
        content: '';
        display: block;
        height: 1px;
        background: linear-gradient(
            to left,
            transparent 0%,
            $primaryColor 50%,
            transparent 100%
        );
      }
    }

    @media screen and (max-width: 767px) {
      &.mobile-full {
        border-radius: 0;
        border-left: none;
        border-right: none;

        .p-panel-header,
        .p-panel-content,
        .p-panel-footer {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
}
