//button
$buttonPadding: 0.75rem 1.25rem !default;
$buttonIconOnlyWidth: 3rem !default;
$buttonIconOnlyPadding: 0.75rem 0 !default;
$buttonBg: $primaryColor !default;
$buttonTextColor: $primaryTextColor !default;
$buttonBorder: 1px solid $primaryColor !default;
$buttonHoverBg: $primaryLightColor !default;
$buttonTextHoverColor: $primaryTextColor !default;
$buttonHoverBorderColor: $primaryLightColor !default;
$buttonActiveBg: $primaryLighterColor !default;
$buttonTextActiveColor: $primaryTextColor !default;
$buttonActiveBorderColor: $primaryLighterColor !default;
$raisedButtonShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !default;
$roundedButtonBorderRadius: 2rem !default;

$textButtonHoverBgOpacity: 0.04 !default;
$textButtonActiveBgOpacity: 0.16 !default;
$outlinedButtonBorder: 1px solid !default;
$plainButtonTextColor: $textSecondaryColor !default;
$plainButtonHoverBgColor: $hoverBg !default;
$plainButtonActiveBgColor: rgba(255, 255, 255, 0.16) !default;

$secondaryButtonBg: #94a3b8 !default;
$secondaryButtonTextColor: #020617 !default;
$secondaryButtonBorder: 1px solid #94a3b8 !default;
$secondaryButtonHoverBg: #cbd5e1 !default;
$secondaryButtonTextHoverColor: $secondaryButtonTextColor !default;
$secondaryButtonHoverBorderColor: #cbd5e1 !default;
$secondaryButtonActiveBg: #e2e8f0 !default;
$secondaryButtonTextActiveColor: $secondaryButtonTextColor !default;
$secondaryButtonActiveBorderColor: #e2e8f0 !default;
$secondaryButtonFocusShadow: 0 0 0 1px
scale-color($secondaryButtonBg, $lightness: 30%) !default;

$infoButtonBg: #38bdf8 !default;
$infoButtonTextColor: #082f49 !default;
$infoButtonBorder: 1px solid #38bdf8 !default;
$infoButtonHoverBg: #7dd3fc !default;
$infoButtonTextHoverColor: $infoButtonTextColor !default;
$infoButtonHoverBorderColor: #7dd3fc !default;
$infoButtonActiveBg: #bae6fd !default;
$infoButtonTextActiveColor: $infoButtonTextColor !default;
$infoButtonActiveBorderColor: #bae6fd !default;
$infoButtonFocusShadow: 0 0 0 1px scale-color($infoButtonBg, $lightness: 30%) !default;

$successButtonBg: #4ade80 !default;
$successButtonTextColor: #052e16 !default;
$successButtonBorder: 1px solid #4ade80 !default;
$successButtonHoverBg: #86efac !default;
$successButtonTextHoverColor: $successButtonTextColor !default;
$successButtonHoverBorderColor: #86efac !default;
$successButtonActiveBg: #bbf7d0 !default;
$successButtonTextActiveColor: $successButtonTextColor !default;
$successButtonActiveBorderColor: #bbf7d0 !default;
$successButtonFocusShadow: 0 0 0 1px
scale-color($successButtonBg, $lightness: 30%) !default;

$warningButtonBg: #fb923c !default;
$warningButtonTextColor: #431407 !default;
$warningButtonBorder: 1px solid #fb923c !default;
$warningButtonHoverBg: #fdba74 !default;
$warningButtonTextHoverColor: $warningButtonTextColor !default;
$warningButtonHoverBorderColor: #fdba74 !default;
$warningButtonActiveBg: #fed7aa !default;
$warningButtonTextActiveColor: $warningButtonTextColor !default;
$warningButtonActiveBorderColor: #fed7aa !default;
$warningButtonFocusShadow: 0 0 0 1px
scale-color($warningButtonBg, $lightness: 30%) !default;

$helpButtonBg: #c084fc !default;
$helpButtonTextColor: #3b0764 !default;
$helpButtonBorder: 1px solid #c084fc !default;
$helpButtonHoverBg: #d8b4fe !default;
$helpButtonTextHoverColor: $helpButtonTextColor !default;
$helpButtonHoverBorderColor: #d8b4fe !default;
$helpButtonActiveBg: #e9d5ff !default;
$helpButtonTextActiveColor: $helpButtonTextColor !default;
$helpButtonActiveBorderColor: #e9d5ff !default;
$helpButtonFocusShadow: 0 0 0 1px scale-color($helpButtonBg, $lightness: 30%) !default;

$dangerButtonBg: #f87171 !default;
$dangerButtonTextColor: #450a0a !default;
$dangerButtonBorder: 1px solid #f87171 !default;
$dangerButtonHoverBg: #fca5a5 !default;
$dangerButtonTextHoverColor: $dangerButtonTextColor !default;
$dangerButtonHoverBorderColor: #fca5a5 !default;
$dangerButtonActiveBg: #fecaca !default;
$dangerButtonTextActiveColor: $dangerButtonTextColor !default;
$dangerButtonActiveBorderColor: #fecaca !default;
$dangerButtonFocusShadow: 0 0 0 1px
scale-color($dangerButtonBg, $lightness: 30%) !default;

$contrastButtonBg: #ffffff !default;
$contrastButtonTextColor: $shade900 !default;
$contrastButtonBorder: 1px solid $contrastButtonBg !default;
$contrastButtonHoverBg: #f3f4f6 !default;
$contrastButtonTextHoverColor: $contrastButtonTextColor !default;
$contrastButtonHoverBorderColor: #f3f4f6 !default;
$contrastButtonActiveBg: #e5e7eb !default;
$contrastButtonTextActiveColor: $contrastButtonTextColor !default;
$contrastButtonActiveBorderColor: #e5e7eb !default;
$contrastButtonFocusShadow: none !default;

$linkButtonColor: $primaryColor !default;
$linkButtonHoverColor: $primaryColor !default;
$linkButtonTextHoverDecoration: underline !default;
$linkButtonFocusShadow: 0 0 0 1px $focusOutlineColor !default;

//togglebutton
$toggleButtonBg: $shade800 !default;
$toggleButtonBorder: 1px solid $shade600 !default;
$toggleButtonTextColor: $shade000 !default;
$toggleButtonIconColor: $shade100 !default;
$toggleButtonHoverBg: $hoverBg !default;
$toggleButtonHoverBorderColor: $shade600 !default;
$toggleButtonTextHoverColor: $shade000 !default;
$toggleButtonIconHoverColor: $shade100 !default;
$toggleButtonActiveBg: $primaryColor !default;
$toggleButtonActiveBorderColor: $primaryColor !default;
$toggleButtonTextActiveColor: $primaryTextColor !default;
$toggleButtonIconActiveColor: $primaryTextColor !default;
$toggleButtonActiveHoverBg: $primaryLightColor !default;
$toggleButtonActiveHoverBorderColor: $primaryLightColor !default;
$toggleButtonTextActiveHoverColor: $primaryTextColor !default;
$toggleButtonIconActiveHoverColor: $primaryTextColor !default;

//speeddial
$speedDialButtonWidth: 4rem !default;
$speedDialButtonHeight: 4rem !default;
$speedDialButtonIconFontSize: 1.3rem !default;
$speedDialActionWidth: 3rem !default;
$speedDialActionHeight: 3rem !default;
$speedDialActionBg: $shade000 !default;
$speedDialActionHoverBg: $shade100 !default;
$speedDialActionTextColor: $shade900 !default;
$speedDialActionTextHoverColor: $shade900 !default;
