//message
$messageMargin: 1rem 0 !default;
$messagePadding: 1.25rem 1.75rem !default;
$messageBorderWidth: 0 0 0 6px !default;
$messageIconFontSize: 1.5rem !default;
$messageTextFontSize: 1rem !default;
$messageTextFontWeight: 500 !default;

//inline message
$inlineMessagePadding: $inputPadding !default;
$inlineMessageMargin: 0 !default;
$inlineMessageIconFontSize: 1rem !default;
$inlineMessageTextFontSize: 1rem !default;
$inlineMessageBorderWidth: 1px !default;

//toast
$toastIconFontSize: 2rem !default;
$toastMessageTextMargin: 0 0 0 1rem !default;
$toastMargin: 0 0 1rem 0 !default;
$toastPadding: 1rem !default;
$toastBorderWidth: 0 0 0 6px !default;
$toastShadow: none !default;
$toastOpacity: 1 !default;
$toastTitleFontWeight: 700 !default;
$toastDetailMargin: $inlineSpacing 0 0 0 !default;

//severities
$infoMessageBg: rgba(59, 130, 246, 0.2) !default;
$infoMessageBorder: solid #3b82f6 !default;
$infoMessageTextColor: #93c5fd !default;
$infoMessageIconColor: #93c5fd !default;
$successMessageBg: rgba(16, 185, 129, 0.2) !default;
$successMessageBorder: solid #10b981 !default;
$successMessageTextColor: #6ee7b7 !default;
$successMessageIconColor: #6ee7b7 !default;
$warningMessageBg: rgba(234, 179, 8, 0.2) !default;
$warningMessageBorder: solid #eab308 !default;
$warningMessageTextColor: #fde047 !default;
$warningMessageIconColor: #fde047 !default;
$errorMessageBg: rgba(239, 68, 68, 0.2) !default;
$errorMessageBorder: solid #ef4444 !default;
$errorMessageTextColor: #fca5a5 !default;
$errorMessageIconColor: #fca5a5 !default;
