//message
$messageMargin: 0 !default;
$messagePadding: 1rem 0 1rem 1.5rem !default;
$messageBorderWidth: 0 0 0 4px !default;
$messageIconFontSize: 1.5rem !default;
$messageTextFontSize: 1rem !default;
$messageTextFontWeight: 500 !default;

//inline message
$inlineMessagePadding: 1rem 0 1rem 1.5rem !default;
$inlineMessageMargin: 0 !default;
$inlineMessageIconFontSize: 1rem !default;
$inlineMessageTextFontSize: 1rem !default;
$inlineMessageBorderWidth: 0 0 0 4px !default;

//toast
$toastIconFontSize: 2rem !default;
$toastMessageTextMargin: 0 0 0 1rem !default;
$toastMargin: 0 0 1rem 0 !default;
$toastPadding: 1rem !default;
$toastBorderWidth: 0 0 0 6px !default;
$toastShadow: none !default;
$toastOpacity: 1 !default;
$toastTitleFontWeight: 700 !default;
$toastDetailMargin: $inlineSpacing 0 0 0 !default;

//severities
$infoMessageBg: transparent !default;
$infoMessageBorder: solid rgba(59, 130, 246, 0.5) !default;
$infoMessageTextColor: #93c5fd !default;
$infoMessageIconColor: #93c5fd !default;
$successMessageBg: transparent !default;
$successMessageBorder: solid rgba(16, 185, 129, 0.5) !default;
$successMessageTextColor: #6ee7b7 !default;
$successMessageIconColor: #6ee7b7 !default;
$warningMessageBg: transparent !default;
$warningMessageBorder: solid rgba(249, 115, 22, 0.5) !default;
$warningMessageTextColor: #fdba74 !default;
$warningMessageIconColor: #fb923c !default;
$errorMessageBg: transparent !default;
$errorMessageBorder: solid rgba(239, 68, 68, 0.5) !default;
$errorMessageTextColor: #fca5a5 !default;
$errorMessageIconColor: #fca5a5 !default;
