//inplace
$inplacePadding: $inputPadding !default;
$inplaceHoverBg: $hoverBg !default;
$inplaceTextHoverColor: $shade000 !default;

//progressbar
$progressBarHeight: 1.5rem !default;
$progressBarBorder: 0 none !default;
$progressBarBg: $shade600 !default;
$progressBarValueBg: $primaryColor !default;
$progressBarValueTextColor: $primaryTextColor !default;

//badge and tag
$badgeBg: $primaryColor !default;
$badgeTextColor: $primaryTextColor !default;
$badgeMinWidth: 1.5rem !default;
$badgeHeight: 1.5rem !default;
$badgeFontWeight: 700 !default;
$badgeFontSize: 0.75rem !default;

$tagPadding: 0.25rem 0.625rem !default;
$tagPaddingSmall: 0 0.5rem !default;
$tagFontSize: 1rem !default;
$tagBorderRadius: $buttonBorderRadius !default;

$tagBg: rgba($primaryColor, 0.1) !default;
$tagTextColor: $primaryColor !default;
$tagBorder: 1px solid color-mix(in oklab, $primaryColor 30%, transparent) !default;

$secondaryTagBg: rgba($shade300, 0.1) !default;
$secondaryTagTextColor: $shade300 !default;
$secondaryTagBorder: 1px solid color-mix(in oklab, $shade300 30%, transparent) !default;

$successTagBg: rgba(#4ade80, 0.1) !default;
$successTagTextColor: #00d492 !default;
$successTagBorder: 1px solid color-mix(in oklab, #00bc7d 30%, transparent) !default;

$infoTagBg: rgba(#38bdf8, 0.15) !default;
$infoTagTextColor: #38bdf8 !default;
$infoTagBorder: 1px solid color-mix(in oklab, #38bdf8 30%, transparent) !default;

$warningTagBg: rgba(#facc15, 0.15) !default;
$warningTagTextColor: #facc15 !default;
$warningTagBorder: 1px solid color-mix(in oklab, #facc15 30%, transparent) !default;

$dangerTagBg: rgba(#fb2c36, 0.1) !default;
$dangerTagTextColor: #ff6467 !default;
$dangerTagBorder: 1px solid color-mix(in oklab, #fb2c36 30%, transparent) !default;

//avatar
$avatarBg: linear-gradient(to bottom right, $primaryColor, $primaryLightColor) !default;
$avatarTextColor: $textColor !default;

//chip
$chipBg: $shade600 !default;
$chipTextColor: $textColor !default;
$chipBorderRadius: 16px !default;
$chipFocusBg: $shade500 !default;
$chipFocusTextColor: $textColor !default;

//scrollTop
$scrollTopBg: $highlightBg !default;
$scrollTopHoverBg: scale-color($highlightBg, $alpha: 24%) !default;
$scrollTopWidth: 3rem !default;
$scrollTopHeight: 3rem !default;
$scrollTopBorderRadius: 50% !default;
$scrollTopFontSize: 1.5rem !default;
$scrollTopTextColor: $highlightTextColor !default;

//skeleton
$skeletonBg: rgba(255, 255, 255, 0.06) !default;
$skeletonAnimationBg: rgba(255, 255, 255, 0.04) !default;
