.lineIn {
  background: linear-gradient(
    to right,
    #444 0%,
    transparent 100%
  );
  height: 1px;
  flex: 1;
}

.lineOut {
  background: linear-gradient(
    to left,
    #444 0%,
    transparent 100%
  );
  height: 1px;
  flex: 1;
}
