@use 'sass:math';

.p-tag {
    background: $tagBg;
    color: $tagTextColor;
    font-size: $tagFontSize;
    font-weight: $badgeFontWeight;
    padding: $tagPadding;
    border: $tagBorder;

    &.text-sm {
      padding: 0 0.5rem;
    }

    &.p-tag-secondary {
        background-color: $secondaryTagBg;
        color: $secondaryTagTextColor;
        border: $secondaryTagBorder;
    }

    &.p-tag-success {
        background-color: $successTagBg;
        color: $successTagTextColor;
        border: $successTagBorder;
    }

    &.p-tag-info {
        background-color: $infoTagBg;
        color: $infoTagTextColor;
        border-color: $infoTagBg;
    }

    &.p-tag-warning {
        background-color: $warningTagBg;
        color: $warningTagTextColor;
        border-color: $warningTagBg;
    }

    &.p-tag-danger {
        background-color: $dangerTagBg;
        color: $dangerTagTextColor;
        border-color: $dangerTagBg;
    }

    * + .p-tag-value {
        margin-left: 0.5rem;
    }
    &.text-sm * + .p-tag-value {
        margin-left: 0.25rem;
    }

    .p-tag-icon {
        margin-right: math.div($inlineSpacing, 2);
        font-size: $badgeFontSize;

        &.p-icon {
            width: $badgeFontSize;
            height: $badgeFontSize;
        }
    }
}
